﻿

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            &copy; 2023 - ProyectoERP - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </div>
</footer>

<script src="~/js/sb-admin-2.js" asp-append-version="true"></script>
<script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
@* <script src="~/js/site.js" asp-append-version="true"></script> *@
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>